* {
    font-family: montserrat, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
}


body::-webkit-scrollbar {
    width: 12px;

}

body::-webkit-scrollbar-track {
    background: #4F5259;
}

body::-webkit-scrollbar-thumb {
    background-color: #6a717356;
    border-radius: 20px;
    border: 3px solid #6A7173;
}

body {
    text-align: center;

}

.img {
    height: 3600px;
    width: auto;
    background-image: url('../image/backgroundmenor.jpg');
    background-position: center;
    background-size: cover;
    bottom: 100%;
}

nav a:hover {
    color: #5CF7FF;
}

/* 8FA1A6 */

header {
    color: #fff;
    display: flex;
    padding: 2% 0 0 2%;
    background-color: #383240;
    height: auto;
    font-size: 36px;
    border-bottom: 3px solid #5CF7FF;
    box-shadow: 1px 1px 1px 1px #5cf7ff91;
}

nav {
    width: 100%;
    height: auto;
    font-size: 20px;
    float: right;
}

@media screen and (max-width:600px) {
    .port {
        display: none
    }


}

@media screen and (max-width: 500px) {
    nav {
        display: none;

    }

    .port {
        display: flex;
    }
}

nav a {
    display: inline;
    float: right;
    margin: 0px 2%;
    padding: 1%;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    font-size: 20px;
}

#meunome,
#oi,
#carg {
    margin-left: auto;
    margin-right: auto;
    animation: down 2s ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
}


@keyframes down {
    from {
        opacity: 0;
        margin-bottom: -150px;
    }

    to {
        opacity: 1;
        margin-top: 70px;
    }
}

.apresentacao {
    margin-top: 70px;
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.blue {
    margin-top: 70px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #5CF7FF;
}

#subir {
    position: fixed;
    width: 100%;
    height: auto;
    float: right;
    opacity: 0.8;
    z-index: 1;
}

#imgsubir {
    position: relative;
    min-width: 40px;
    width: 3%;
    height: 3%;
    float: right;
    margin-right: 15%;
}

.titulo {
    color: #5CF7FF;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
}

.cargo {
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

#sobre {
    padding-top: 75px;
    padding-bottom: 75px;
    color: white;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}

.texto {
    padding: 30px;
    text-align: justify;
    font-size: 20px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: fit-content;

}

.textoCentral {
    padding: 30px;
    font-size: 20px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: fit-content;

}


.rounded {
    margin-top: 40px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #5CF7FF;
}



.seta {
    margin-top: -10vh;
    margin-left: auto;
    margin-right: auto;
    position: static;
}

.seta {
    animation: downS 5s ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
}


@keyframes downS {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}


#prog {
    padding-top: 75px;
    padding-bottom: 75px;
    color: white;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}

.caixaimagem {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(20px);
    border-radius: 30px;
}

.icons {
    width: 30%;
    min-width: 70px;
    max-width: 130px;
    min-height: 70px;
    max-height: 130px;
    height: 30%;
    margin: 2%;
}

.contato {
    padding-top: 75px;
    padding-bottom: 75px;
    color: white;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}

[clicked] {
    opacity: 0;
}

[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="left"] {
    transform: translate3d(-100px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="down"] {
    transform: translate3d(0, 100px, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -100px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}